@font-face {
	font-family: 'Inter';
	font-weight: normal;
	font-style: italic;
	src: url('inter-italic.woff2') format('woff2'), url('inter-italic.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-weight: normal;
	font-style: normal;
	src: url('inter-regular.woff2') format('woff2'), url('inter-regular.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-weight: 500;
	font-style: normal;
	src: url('inter-medium.woff2') format('woff2'), url('inter-medium.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-weight: 600;
	font-style: normal;
	src: url('inter-semibold.woff2') format('woff2'), url('inter-semibold.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	font-style: normal;
	src: url('inter-bold.woff2') format('woff2'), url('inter-bold.woff') format('woff');
}
